*{
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #2C1C0C;
    font-family: 'Normative Pro Bold', sans-serif;
}

.navbar p{
    color: #2C1C0C;
}
.logo {
    display: flex;
    gap: 10px;
    margin-left: 10px;

    
}

.logo img {
    height: 60px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
    
}

.logo h3 {
    color: #2C1C0C;
    font-family: "Audiowide", serif;
    font-weight: 500;
    font-style: normal;
    margin: auto;
    cursor: pointer;
}

.nav-boxes a {
    text-decoration: none;
    color: #2C1C0C;
    justify-content: center;
}

.nav-boxes {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-top: 20px;
}
.Signup{
    padding-right: 10px;
    padding-top: 20px;

}
.Signup a {
    text-decoration: none;
    color: rgb(0, 0, 0);

}
.fa-regular{
    font-size: 25px;

}
/* Footer Styling */
.footer {
    background-color: #111;
    color: white;
    padding: 40px 0;
    font-family: 'Roboto', sans-serif;
   i{
       color: white;
   }
    h3{
        color: #fff;
    }
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;
    padding: 0 20px;
    
}

.footer-bottom
{
    p{
        color: white;
    }
}
.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
    position: relative;
}

.footer-column h3::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    margin-top: 4px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}



.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icons a {
    color: #bbb;
    font-size: 18px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 20px;
    }

    .social-icons {
        justify-content: center;
    }
}
